<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id  </th>
        <th scope="col">nom </th>
        <th scope="col">quantité</th>
        <th scope="col">date creation </th>
             <th scope="col">date modification </th>

    <th scope="col">Actions  </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of categorielist">
      <tr >
      
        <th scope="row">{{item.idCategory}}</th>
        <td>{{item.nom}}</td>
        <td>{{item.qt}}</td>
        <td>{{item.dateCreation}}</td>
        <td>{{item.dateModification}}</td>
        <td><button type="button" class="btn btn-primary btn-sm" routerLink="/edit-categories/{{item.idCategory}}">modif</button>
            <button type="button" class="btn btn-secondary btn-sm"  (click)="deleteCategory(item.idCategory)">supp</button></td>
        
      </tr>
    </ng-container>
      
    </tbody>
  </table>
  <button id=aa type="button" routerLink="/add-categories"  class="btn btn-success">   ajouter categorie </button>